* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
    padding-top: 60px;
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(53%,#f6f6f6), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
    background: -o-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
    background: -ms-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
    background: linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
    background-attachment: fixed;
}
.brand {
  font-family: "Oleo Script", cursive !important;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
footer, .push {
  height: 4em;
}

.idea-name {
  font-size: 1.8em;
  line-height: 1em;
}

.idea-name input {
  font-size: 1em;
  height: 1em;
  line-height: 1.3em;
}