<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>Mission Statement</title>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/ms.css') }}">
    
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>

  </head>
  {% if session.pitches %}
      <body>
        <div class="navbar navbar-fixed-top navbar-fixed-top-plus ">
            <div class="navbar-inner">
                <div class="container">
                    <div class="offset2 span7">
                        <div style="position:relative;">
                            <div id="form_status">
                                <span>All updates are saved automatically.</span>                        
                            </div>
                        <a href="/#"><button class="btn btn-mini btn-primary"><i class="icon-plus"></i> New</button></a>         
                        {% for pitch in session.pitches %}
                            {% if pitch.url == unique_url %}
                                <button class="btn btn-mini disabled">{{pitch.name | truncate(20, True)}}</button>
                            {% else %}
                                <a href="/{{pitch.url}}"><button class="btn btn-mini btn-success">{{pitch.name | truncate(20, True)}}</button></a>
                            {% endif %}
                        {% endfor %}
<!--                         <button class="btn btn-mini btn-success"><i class="icon-signin"></i> Sign in</button>    -->
                        </div>
                    </div>
                </div>
           </div>
        </div>
  {% else %}
    <body style="padding-top:120px;">
  {% endif %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="offset2 span5">
                    <a class="brand" href="#">Mission Statement</a>
                </div>
                <div class="offset2 span9">
                    <p class="lead">When you are full of awesome ideas and totally out of paper.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="container">
                <div class="offset2 span7">
                    <div class="alert alert-{{category}} fade in">
                        <a class="close" data-dismiss="alert">&times;</a>
                        {{ message }}
                    </div>                
                </div>
            </div>
        {% endfor %}
        {% block content %} {% endblock %}
        <footer class="offset2 span7">
        
        Created by <a href="http://twitter.com/ibagrak">Ilya Bagrak</a> & <a href="https://github.com/TylerLH">Tyler Hughes</a>. Please send <a href="mailto:ilya.bagrak+ms@gmail.com">feedback</a> & <a href="https://github.com/TylerLH/missionstatement">pull requests</a>!
            
       </footer>
    </div>

    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap-alert.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap-collapse.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap-transition.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap-button.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap-tooltip.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/jquery.autoresize.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/missionstatement.js') }}"></script>
    {% block scripts %}

    {% endblock %}
  </body>	
</html>