<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>Mission Statement</title>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='bootstrap/less/bootstrap.less') }}">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='bootstrap/less/style.less') }}">
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ url_for('static', filename='less-1.3.0.min.js') }}"></script>
  </head>
  {% if session.pitches %}
      <body>
        <div class="navbar navbar-fixed-top navbar-fixed-top-plus ">
            <div class="navbar-inner">
                <div class="container">
                    <div class="offset2 span6">
                        <a href="/#"><button class="btn btn-mini btn-success"><i class="icon-plus"></i> New</button></a>         
                        {% for pitch in session.pitches %}
                            <a href="/{{pitch.url}}"><button class="btn btn-mini btn-success">{{pitch.name}}</button></a>
                        {% endfor %}
                        <button class="btn btn-mini btn-success"><i class="icon-signin"></i> Sign in</button>   
                    </div>
                </div>
           </div>
        </div>
  {% else %}
    <body style="padding-top:120px;">
  {% endif %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="offset2 span5">
                    <a class="brand" href="#">Mission Statement</a>
                    <!-- <ul class="nav pull-right">
                        <li><a href="#"><i class="icon-white icon-signin"></i> Sign in</a></li>
                    </ul> -->
                </div>
                <div class="offset2 span9">
                    <p class="lead">Fine-tune pitches. Organize ideas. Focus on the message.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container wrapper">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="container">
                <div class="offset2 span7">
                    <div class="alert alert-{{category}} fade in">
                        <a class="close" data-dismiss="alert">&times;</a>
                        {{ message }}
                    </div>                
                </div>
            </div>
        {% endfor %}
      {% block content %}
        <header class="jumbotron subhead" id="overview">
          <h1>Ready to share your app with the world?</h1>
          <p class="lead">Stop repeating yourself when you want to explain it with Mission Statement.</p>
          <p class="lead">Tell the world in 5 words, send a tweet-sized pitch on Twitter, or keep a 500 word description of your project.</p>
          <a href="/new" class="btn btn-primary btn-large">Start Your Mission Statement</a>
        </header>
        <div class="push"></div>
      {% endblock %}
    </div>
    <footer class="offset5 span7 footer">
       <span class="authors">Created by Tyler Hughes and Ilya Bagrak.</span>
    </footer>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap-alert.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap-collapse.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap-transition.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap-button.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap-tooltip.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/jquery.autoresize.js') }}"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/noisy/1.1/jquery.noisy.min.js"></script>
    <script>
        $(document).ready( function() {
//             $('body').noisy({
//                 'intensity' : 1, 
//                 'size' : 200, 
//                 'opacity' : 0.08, 
//                 'fallback' : '', 
//                 'monochrome' : false
//             })

//            $('.twitter-desc').limit(140,'#twitter-chars-left')
//            $('#title-input').limit(50,'#title-chars-left')
            $('.autoresize').autoResize();
            $('#body').tooltip({selector : ":input"});
            $('#title').focus();
            
           
        });
    </script>
    {% block scripts %}

    {% endblock %}
  </body>	
</html>