{% extends "layout.html" %}

{% block scripts %}
	<script type="text/javascript">
		document.addEventListener('keydown', function (event) {
		  var esc = event.which == 27,
		      nl = event.which == 13,
		      el = event.target,
		      input = el.nodeName != 'INPUT' && el.nodeName != 'TEXTAREA',
		      data = {};

		  if (input) {
		    if (esc) {
		      // restore state
		      document.execCommand('undo');
		      el.blur();
		    } else if (nl) {
		      // save
		      data['csrf_token'] = '{{ form.csrf_token }}';
		      data[el.getAttribute('data-name')] = el.innerHTML;

		      // we could send an ajax request to update the field
		      /*
		      $.ajax({
		        url: window.location.toString(),
		        data: data,
		        type: 'post'
		      });
		      */
		      log(JSON.stringify(data));

		      el.blur();
		      event.preventDefault();
		    }
		  }
		}, true);

		function log(s) {
		  console.log('value changed to: ' + s);
		}
	</script>
{% endblock %}

{% block content %}
	<!-- <h1 data-name="title" id="project_title" contenteditable="true">Your Project Title</h1> -->
	<form class="offset2" method="POST">
	    {{ form.csrf_token }}
	    <div class="input">
		    {{ form.title.label }} {{ form.title(size=50,id="title-input",class="span7") }}
		    <span class="help-inline"><span id="units-left">50</span> character<span class="plural">s</span> left</span>
		  </div>
          <div class="input">
            {{ form.slogan.label}} {{ form.slogan(size=50,id="5-words-input",class="span7")}}
            <span class="help-inline"><span id="units-left">5</span> word<span class="plural">s</span> left</span>
          </div>
		  <div class="input">
		  	{{ form.short_desc.label}} {{ form.short_desc(size=50,id="5-words-input",class="span7")}}
		  	<span class="help-inline"><span id="units-left">50</span> word<span class="plural">s</span> left</span>
		  </div>
          <div class="input">
            {{ form.long_desc.label}} {{ form.long_desc(size=500,id="5-words-input",class="span7")}}
            <span class="help-inline"><span id="units-left">500</span> word<span class="plural">s</span> left</span>
          </div>
		  <!-- <div class="input">
		  	<h2><a data-toggle="collapse" data-target="#twitter-description"><i class="icon icon-twitter-sign"></i> Twitter</a></h2>
		  	<div id="twitter-description" class="collapse">
		  		{{ form.twitter_desc(size=140,class="autoresize span5 twitter-desc")}}
		  		<span class="help-inline"><span id="twitter-chars-left">140</span> Characters Left</span>
		  	</div>
		  </div>
		  <div class="input">
		  	<h2><a data-toggle="collapse" data-target="#facebook-description"><i class="icon icon-facebook-sign"></i> Facebook</a></h2>
		  	<div id="facebook-description" class="collapse">
		  		{{ form.facebook_desc(size=140,class="autoresize span7 facebook-desc")}}
		  	</div>
		  </div> -->
          <div class="btn-toolbar"> 
            <button type="submit" class="btn btn-primary btn-small"><i class="icon-white icon-check"></i> Update</button>
            <button class="btn btn-small"><i class="icon-bookmark"></i> Bookmark</button>
            <input class="sendto" type="email" placeholder="me@example.com">
            <button class="send-project btn btn-small btn-success"><i class="icon-white icon-envelope"></i> Send Link</button>
          </div>
	</form>
    
    
{% endblock %}