{% extends "layout.html" %}

{% block scripts %}
	<script type="text/javascript">
		document.addEventListener('keydown', function (event) {
		  var esc = event.which == 27,
		      nl = event.which == 13,
		      el = event.target,
		      input = el.nodeName != 'INPUT' && el.nodeName != 'TEXTAREA',
		      data = {};

		  if (input) {
		    if (esc) {
		      // restore state
		      document.execCommand('undo');
		      el.blur();
		    } else if (nl) {
		      // save
		      data['csrf_token'] = '{{ form.csrf_token }}';
		      data[el.getAttribute('data-name')] = el.innerHTML;

		      // we could send an ajax request to update the field
		      /*
		      $.ajax({
		        url: window.location.toString(),
		        data: data,
		        type: 'post'
		      });
		      */
		      log(JSON.stringify(data));

		      el.blur();
		      event.preventDefault();
		    }
		  }
		}, true);

		function log(s) {
		  console.log('value changed to: ' + s);
		}
	</script>
{% endblock %}

{% block content %}
	<!-- <h1 data-name="title" id="project_title" contenteditable="true">Your Project Title</h1> -->
	<form method="POST">
	    {{ form.csrf_token }}
	    <div class="input">
		    {{ form.title.label }} {{ form.title(size=50,id="title-input",class="span5") }}
		    <span class="help-inline"><span id="title-chars-left">50</span> Characters Left</span>
		  </div>
		  <div class="input">
		  	{{ form.short_desc.label}} {{ form.short_desc(size=50,id="5-words-input",class="span5")}}
		  	<span class="help-inline"><span id="words-left">5 Words Left</span>
		  </div>
		  <div class="input">
		  	<h2><a data-toggle="collapse" data-target="#twitter-description"><i class="icon icon-twitter-sign"></i> Twitter</a></h2>
		  	<div id="twitter-description" class="collapse">
		  		{{ form.twitter_desc(size=140,class="autoresize span5 twitter-desc")}}
		  		<span class="help-inline"><span id="twitter-chars-left">140</span> Characters Left</span>
		  	</div>
		  </div>
		  <div class="input">
		  	<h2><a data-toggle="collapse" data-target="#facebook-description"><i class="icon icon-facebook-sign"></i> Facebook</a></h2>
		  	<div id="facebook-description" class="collapse">
		  		{{ form.facebook_desc(size=140,class="autoresize span5 facebook-desc")}}
		  	</div>
		  </div>
	    <button type="submit" class="btn btn-primary btn-large"><i class="icon-white icon-check"></i> Update</button>
	    &nbsp;<a href="#" class="btn btn-large"><i class="icon-bookmark"></i> Bookmark</a>
	    <br /><br /><p>
		    <strong>Send project link via email</strong>
		    &nbsp;<input type="email" placeholder="me@example.com">
		   	&nbsp;<button class="send-project btn btn-large btn-success"><i class="icon-white icon-envelope"></i> Send Email</button>
	   	</p>
	</form>
{% endblock %}